.product-specific {
  max-width: 1000px;
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
}

.product-specific > * {
  flex: 1;
}

.product-specific .flex-img {
  margin: 0;
}

.product-specific-details {
  padding: 0 30px;
}

.product-specific-details a {
  display: block;
  width: 95.467px;
  margin: auto;
  box-sizing: unset;
}

.product-specific-price {
  font-size: 1.5em;
}

.product-image-thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}
